@model MusicShop.Models.BrowseMusicViewModel

@{
    ViewData["Title"] = "Remove";
}

<h1>Remove</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BrowseMusicViewModel</h4>
    <hr />
    <dl class="row">
    </dl>

    <form asp-action="Remove">
        <div class="form-group">
            <label asp-for="NewSong.Id" class="control-label">Song ID:</label>
            @* <input asp-for="NewSong.Id" class="form-control" readonly /> *@
            <input asp-for="NewSong.Id" class="form-control" />
        </div>
        <br />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <br />
        <br />
        <a asp-action="BrowseMusic" class="btn btn-primary">Back to List</a>
    </form>
</div>
